<h1>This is the post#index</h1>

<div class="index-post-all">
	<% @posts.each do |post| %>
		<div class="index-post-single">
			<%= link_to post.title, posts_path(:id => post.id) %>
		</div>	
		<br>
	<% end %>
</div>