<h1> This is the post#show </h1>
	<%= @post.title %>
	by <%= link_to User.find(@post.user_id).name, users_path(:user_id => @post.user_id) %>
	<br>
	<br>

<div>
	<p><%= @post.content %></p>
</div>

<%= link_to "edit", edit_posts_path(:id => @post.id) %>
